<script defer data-domain="wiki.vrisingmods.com" src="https://traffic.dev.deca.gg/js/script.js"></script>

<!-- Primary Meta Tags -->
<meta name="title" content="V Rising Modding Wiki">
<meta name="description" content="Information about mods for the game V Rising: How to setup on Windows / Linux. Developer information. How to build, debug, and publish your mods.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://metatags.io/">
<meta property="og:title" content="V Rising Modding Wiki">
<meta property="og:description" content="Information about mods for the game V Rising: How to setup on Windows / Linux. Developer information. How to build, debug, and publish your mods.">
<meta property="og:image" content="/images/mod_logo_red_purple.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://metatags.io/">
<meta property="twitter:title" content="V Rising Modding Wiki">
<meta property="twitter:description" content="Information about mods for the game V Rising: How to setup on Windows / Linux. Developer information. How to build, debug, and publish your mods.">
<meta property="twitter:image" content="/images/mod_logo_red_purple.png">
